extends ../layout 

block content
    a(href='/') Home
    br
    a(href='/bicicletas') Listado
    br
    h1 Actualizar bicicleta 
    form(action=`/bicicletas/${bicicleta.id}/update` method='POST')
        table.table 
            tr 
                td
                    label(for='color') Color:
                td
                    input#color(type='text' name='color' value=bicicleta.color)
            tr 
                td
                    label(for='modelo') Modelo:
                td
                    input#modelo(type='text' name='modelo' value=bicicleta.modelo)
            tr 
                td
                    label(for='lat') Ubicación (lat):
                td
                    input#lat(type='text' name='lat' value=bicicleta.lat)
            tr 
                td
                    label(for='lon') Ubicación (lat):
                td
                    input#lon(type='text' name='lon' value=bicicleta.lon)
            tr
                td 
                td
                    input.btn(type='submit' value='Update')